<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>EJS Awards</title>
        <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
    </head>
    <body>
        <h2><%= details.title %></h2>
        <main>
            <img src="<%= details.image %>" alt="awards" />
            <p>Date: <%= details.date %></p>
            <p>Awarded by: <%= details.awardedBy %></p>
            <p>Technologies:</p>
            <ul>
                <% for (let i = 0; i < details.tech.length; i++) { %>
                <li><%= details.tech[i] %></li>
                <% } %>
            </ul>
            <a class="back_button" href="./awards">Go back</a>
        </main>
    </body>
</html>
